<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoApp22"
        >

        <activity
            android:name=".Pages.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationChannel.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.ozan.videoapp22.ACTION_PLAY_VIDEO" />
                <action android:name="com.example.ozan.videoapp22.ACTION_PAUSE_VIDEO" />
                <action android:name="com.example.ozan.videoapp22.ACTION_PLAY_MUSIC" />
                <action android:name="com.example.ozan.videoapp22.ACTION_PAUSE_MUSIC" />
                <action android:name="com.example.ozan.videoapp22.ACTION_NEXT_SONG" />
                <action android:name="com.example.ozan.videoapp22.ACTION_PREVIOUS_SONG" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.MusicService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".Services.VideoService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
